@import '~bootstrap-icons/font/bootstrap-icons.css';
:root {
  --orange: #ffba3c;
  --blue: #16284c;
  --white: #f1eade;
  --light_blue: #a3c2ff;
  --dark_orange: #bb7e10;
  --card-white: rgba(255, 255, 255, 0.45);
}
#searchButton {
  background-color: orange;
  height: 40px;
  max-width: 180px;
  border-radius: 5px;
  border: none;
  transition: all 0.3s;
  box-shadow: 3px 3px 5px gray;
}
